<div class="container pt-2">

  <div class="row">
  
    <input 
      type="text" 
      class="form-control"
      [(ngModel)]="searchText"
      (keyup)="filter()">
  
  </div>
  <div class="row p-2">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Código</th>
              <th scope="col">Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let commodity of commodityListFiltered" (click)="onClick(commodity)">
              <td>{{commodity.code}}</td>
              <td>{{commodity.name}}</td>
            </tr>
          </tbody>
        </table>
  </div>

</div>
